@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sans-serif: 'Inter', sans-serif;
  --bg: hsl(200, 10%, 10%);
  --text-color: snow;
  --brand-color: limegreen;
  --spacing-8: 0.5rem;
  --spacing-16: 1rem;
  --spacing-32: 2rem;
  --spacing-64: 4rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--sans-serif);
  background: var(--bg);
  color: var(--text-color);
}

/* artist page section */

.artist-page {
  max-width: 80%;
  margin: 0 auto;
}

/* banner section */

.artist-banner {
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background: linear-gradient(transparent 50%, var(--bg));
}

.artist-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.artist-label,
.artist-name,
.artist-banner .actions {
  margin-left: var(--spacing-32);
}

.artist-label {
  text-transform: uppercase;
}

.artist-name {
  font-size: 4rem;
  font-weight: 900;
}

.actions {
  margin-top: var(--spacing-16);
}

.action-play,
.action-follow,
.action-more {
  color: var(--text-color);
  margin: 0 var(--spacing-8);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.action-play {
  background-color: var(--brand-color);
  margin-left: 0;
  padding: var(--spacing-8) var(--spacing-32);
  border-radius: 20px;
}

.action-follow {
  background-color: hsla(0, 0%, 0%, 0.4);
  padding: var(--spacing-8) var(--spacing-64);
  border: 1px solid hsla(0, 0%, 80%, 0.8);
  border-radius: 20px;
}

.action-more {
  width: 34px;
  height: 34px;
  background-color: hsla(0, 0%, 0%, 0.4);
  border: 1px solid hsla(0, 0%, 80%, 0.8);
  border-radius: 50%;
}

/* album details section */

.albums {
  margin: var(--spacing-64) var(--spacing-32) 0 var(--spacing-32);
}

.albums-label::after {
  content: '';
  height: 1px;
  display: block;
  margin: var(--spacing-16) 0;
  background-color: hsla(0, 0%, 100%, 0.1);
}

.album-details {
  display: flex;
}

.album-cover {
  height: 200px;
}

.album-cover img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.album-info {
  display: flex;
  flex-direction: column;
  margin: 0 var(--spacing-16);
}

.info-title {
  font-size: 2.4rem;
}

.album-info .actions {
  margin-top: auto;
}

.action-heart {
  width: 34px;
  height: 34px;
  font-size: 1rem;
  background-color: hsla(0, 0%, 0%, 0.4);
  color: var(--text-color);
  border: 1px solid hsla(0, 0%, 80%, 0.8);
  border-radius: 50%;
  cursor: pointer;
}

/* album tracks section */

.album-tracks {
  margin-top: var(--spacing-32);
}

.track-labels {
  display: flex;
  padding: var(--spacing-16) 0;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.album-track {
  display: flex;
}

.album-track > * {
  padding: var(--spacing-16) 0;
}

.album-track:not(:last-child) > * {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.number {
  flex-basis: 10%;
}

.heart {
  flex-basis: 10%;
}

.title {
  /* text-align: left; */
  flex-basis: 70%;
}

.duration {
  flex-basis: 10%;
  text-align: center;
}
